$primary-background-color: #121b33;
$secondary-background-color: #1D2B53;
$accent-color-1: #FAEF5D;
$accent-color-2: #FF004D;
$text-color: #E0E0E0;
$secondary-text-color: #B0B0B0;
$button-color: #7E2553;
$notification-color: #FAEF5D;

$color-1: #390099;
$color-2: #9e0059;
$color-3: #ff0054;
$color-4: #ff5400;
$color-5: #ffbd00;

// character colors
$character-color-1: #9e0059;
$character-color-2: #390099;
$character-color-3: #ffbd00;
$character-color-4: #ff5400;
$character-color-5: #ff0054;
$character-color-6: #6C0079;
$character-color-7: #579C4C;
