@import "./Colors.scss";
@import "Variables.scss";

#Sidebar {
    background-color: $secondary-background-color;
    padding: 20px;
    grid-area: sidebar;
    max-height: calc(100dvh - $header-height);
    width: 250px;

    height: 100vh;
    z-index: 1000;
    transition: transform 0.3s ease;

    .toggle-button {
        background: none;
        border: none;
        // color: white;
        // font-size: 1.2rem;
        // position: absolute;
        // top: 10px;
        // right: 10px;
    }

    .chat-list {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        max-height: calc(100dvh - 8rem - 75px);

        .character {
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 10px;
            font-size: .8rem;
            cursor: pointer;

            &.selected {
                background-color: #646cff;
                color: #ffffff;
            }

            .avatar {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #646cff;
                color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media (max-width: 768px) {
    #Sidebar {
        position: fixed;
        left: 0;
        top: 0;
        max-height: 100dvh;
        display: flex;
        flex-direction: column;
        padding: 4px;

        .toggle-button {
            align-self: end;
            margin: 0 0 8px 4px;
        }

        &.collapsed {
            transform: translateX(-100%);
        }

    }
}